*.pyc
*.sqlite3
*.log
*.sublime-project
*.sublime-workspace
userenv.bat
patedu/static/assets/css/app.css
patedu/static/assets/css/headers/header1.css
patedu/static/assets/css/headers/header2.css
patedu/static/assets/css/pages/blog.css
patedu/static/assets/css/pages/page_404_error.css
patedu/static/assets/css/pages/page_404_error1.css
patedu/static/assets/css/pages/page_clients.css
patedu/static/assets/css/pages/page_coming_soon.css
patedu/static/assets/css/pages/page_contact.css
patedu/static/assets/css/pages/page_invoice.css
patedu/static/assets/css/pages/page_log_reg_v1.css
patedu/static/assets/css/pages/page_log_reg_v2.css
patedu/static/assets/css/pages/page_magazine.css
patedu/static/assets/css/pages/page_one.css
patedu/static/assets/css/pages/page_pricing.css
patedu/static/assets/css/pages/page_promo.css
patedu/static/assets/css/pages/page_search.css
patedu/static/assets/css/pages/portfolio-v1.css
patedu/static/assets/css/pages/portfolio-v2.css
patedu/static/assets/css/responsive.css
patedu/static/assets/css/style.css
patedu/static/assets/css/themes/blue.css
patedu/static/assets/css/themes/default.css
patedu/static/assets/css/themes/headers/header1-blue.css
patedu/static/assets/css/themes/headers/header1-light.css
patedu/static/assets/css/themes/headers/header1-orange.css
patedu/static/assets/css/themes/headers/header1-red.css
patedu/static/assets/css/themes/headers/header2-blue.css
patedu/static/assets/css/themes/headers/header2-light.css
patedu/static/assets/css/themes/headers/header2-orange.css
patedu/static/assets/css/themes/headers/header2-red.css
patedu/static/assets/css/themes/light.css
patedu/static/assets/css/themes/orange.css
patedu/static/assets/css/themes/red.css
patedu/static/assets/img/amit.jpg
patedu/static/assets/img/avatar1.jpg
patedu/static/assets/img/bg-black.png
patedu/static/assets/img/bg-black1.png
patedu/static/assets/img/bg-green.png
patedu/static/assets/img/bg-white.png
patedu/static/assets/img/breadcrumbs.png
patedu/static/assets/img/doctl_logo.png
patedu/static/assets/img/doctl_logo_square.png
patedu/static/assets/img/favicon.ico
patedu/static/assets/img/icons/capsule_tablet.png
patedu/static/assets/img/icons/doctor_family.png
patedu/static/assets/img/icons/linkedin.png
patedu/static/assets/img/icons/question.png
patedu/static/assets/img/icons/social/amazon.png
patedu/static/assets/img/icons/social/behance.png
patedu/static/assets/img/icons/social/blogger.png
patedu/static/assets/img/icons/social/deviantart.png
patedu/static/assets/img/icons/social/dribbble.png
patedu/static/assets/img/icons/social/dropbox.png
patedu/static/assets/img/icons/social/evernote.png
patedu/static/assets/img/icons/social/facebook.png
patedu/static/assets/img/icons/social/forrst.png
patedu/static/assets/img/icons/social/github.png
patedu/static/assets/img/icons/social/googleplus.png
patedu/static/assets/img/icons/social/jolicloud.png
patedu/static/assets/img/icons/social/last-fm.png
patedu/static/assets/img/icons/social/linkedin.png
patedu/static/assets/img/icons/social/picasa.png
patedu/static/assets/img/icons/social/pintrest.png
patedu/static/assets/img/icons/social/rss.png
patedu/static/assets/img/icons/social/skype.png
patedu/static/assets/img/icons/social/spotify.png
patedu/static/assets/img/icons/social/stumbleupon.png
patedu/static/assets/img/icons/social/tumblr.png
patedu/static/assets/img/icons/social/twitter.png
patedu/static/assets/img/icons/social/vimeo.png
patedu/static/assets/img/icons/social/vk.png
patedu/static/assets/img/icons/social/wordpress.png
patedu/static/assets/img/icons/social/xing.png
patedu/static/assets/img/icons/social/yahoo.png
patedu/static/assets/img/icons/social/youtube.png
patedu/static/assets/img/main_image_phone.jpg
patedu/static/assets/img/overlay-icon.png
patedu/static/assets/img/profile_pic/abilash.jpg
patedu/static/assets/img/profile_pic/amit.jpg
patedu/static/assets/img/profile_pic/karthik.jpg
patedu/static/assets/img/profile_pic/komal.jpg
patedu/static/assets/img/profile_pic/vikas.jpg
patedu/static/assets/img/profile_pic/vishal.jpg
patedu/static/assets/img/up.png
patedu/static/assets/img/user.jpg
patedu/static/assets/img/vikas.jpg
patedu/static/assets/js/app.js
patedu/static/assets/js/pages/contact.js
patedu/static/assets/js/pages/index.js
patedu/static/assets/js/pages/portfolio.js
patedu/static/assets/plugins/apple-style/css/apple-style.css
patedu/static/assets/plugins/apple-style/images/bt-next.png
patedu/static/assets/plugins/apple-style/images/bt-pause.png
patedu/static/assets/plugins/apple-style/images/bt-play.png
patedu/static/assets/plugins/apple-style/images/bt-prev.png
patedu/static/assets/plugins/apple-style/images/ipad-shadow.png
patedu/static/assets/plugins/apple-style/images/ipad.png
patedu/static/assets/plugins/apple-style/images/iphone-shadow.png
patedu/static/assets/plugins/apple-style/images/iphone.png
patedu/static/assets/plugins/apple-style/images/pause-icon.png
patedu/static/assets/plugins/apple-style/images/sequence-logo.png
patedu/static/assets/plugins/apple-style/images/status-bar.png
patedu/static/assets/plugins/apple-style/js/apple-style.js
patedu/static/assets/plugins/apple-style/js/sequence.jquery-min.js
patedu/static/assets/plugins/back-to-top.js
patedu/static/assets/plugins/backstretch/jquery.backstretch.js
patedu/static/assets/plugins/backstretch/jquery.backstretch.min.js
patedu/static/assets/plugins/bootstrap/css/bootstrap-pisa.css
patedu/static/assets/plugins/bootstrap/css/bootstrap.css
patedu/static/assets/plugins/bootstrap/css/bootstrap.min.css
patedu/static/assets/plugins/bootstrap/fonts/glyphicons-halflings-regular.eot
patedu/static/assets/plugins/bootstrap/fonts/glyphicons-halflings-regular.svg
patedu/static/assets/plugins/bootstrap/fonts/glyphicons-halflings-regular.ttf
patedu/static/assets/plugins/bootstrap/fonts/glyphicons-halflings-regular.woff
patedu/static/assets/plugins/bootstrap/js/bootstrap.js
patedu/static/assets/plugins/bootstrap/js/bootstrap.min.js
patedu/static/assets/plugins/bxslider/images/bx_loader.gif
patedu/static/assets/plugins/bxslider/images/controls-blue.png
patedu/static/assets/plugins/bxslider/images/controls-light.png
patedu/static/assets/plugins/bxslider/images/controls-orange.png
patedu/static/assets/plugins/bxslider/images/controls-red.png
patedu/static/assets/plugins/bxslider/images/controls.png
patedu/static/assets/plugins/bxslider/jquery.bxslider.css
patedu/static/assets/plugins/bxslider/jquery.bxslider.js
patedu/static/assets/plugins/countdown/css/countdown.css
patedu/static/assets/plugins/countdown/jquery.countdown.js
patedu/static/assets/plugins/countdown/plugin/countdownBasic.html
patedu/static/assets/plugins/countdown/plugin/countdownGlowing.gif
patedu/static/assets/plugins/countdown/plugin/countdownLED.png
patedu/static/assets/plugins/countdown/plugin/jquery.countdown-ar.js
patedu/static/assets/plugins/countdown/plugin/jquery.countdown-bg.js
patedu/static/assets/plugins/countdown/plugin/jquery.countdown-bn.js
patedu/static/assets/plugins/countdown/plugin/jquery.countdown-bs.js
patedu/static/assets/plugins/countdown/plugin/jquery.countdown-ca.js
patedu/static/assets/plugins/countdown/plugin/jquery.countdown-cs.js
patedu/static/assets/plugins/countdown/plugin/jquery.countdown-cy.js
patedu/static/assets/plugins/countdown/plugin/jquery.countdown-da.js
patedu/static/assets/plugins/countdown/plugin/jquery.countdown-de.js
patedu/static/assets/plugins/countdown/plugin/jquery.countdown-el.js
patedu/static/assets/plugins/hover-dropdown.min.js
patedu/static/assets/plugins/jquery-1.10.2.min.js
patedu/static/assets/plugins/jquery-migrate-1.2.1.min.js
patedu/static/assets/plugins/jquery.easing.min.js
patedu/static/assets/plugins/jquery.mixitup.min.js
patedu/static/assets/plugins/less-1.4.1.min.js
patedu/static/assets/plugins/modernizr.custom.js
patedu/static/assets/plugins/respond.js
