<html>
	<head>
		<meta charset="utf-8">
		<title>Minimal Django File Upload Example</title>	
	</head>

	<body>
		<!-- List of uploaded documents -->
		

		<!-- Upload form. Note enctype attribute! -->
		<form action="/mctsdata/uploadandsave/" method="POST" enctype="multipart/form-data">
		<input name="file" type="file" id="file" />
			{% csrf_token %}
			
			<p><input type="submit" value="Upload" /></p>
			<p>
				<select type="submit" value="Upload" name="benef_type">
					<option value="ANC">ANC</option>
					<option value="PNC">PNC</option>
					<option value="IMM">IMMUNIZATION</option>
				</select>
			</p>
		</form>
		
	</body>

</html> 