<div class="row">
    <div class="col-md-12">
        <div class="profile-container">
            <div class="profile-header row" id="profile_header_bs" print-title="NIRAMAYAH: DISTRICT STATUS ON 5 INDICES of MCTS">
                <div style="text-align:center">
                    <h3>
                        DISTRICT JHANSI &nbsp;
                        <a class="btn btn-default btn-xs blue no-print" print-div="#profile_header_bs" >
                            <i class="glyphicon glyphicon-print"></i>
                        </a> 
                    </h3>
                </div>
                
                <div class="margin-top-30"></div>
                <div class="row margin-left-20 margin-right-20">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="databox radius-bordered databox-shadowed databox-graded">
                            <div class="databox-left bg-themeprimary">
                                <div class="databox-piechart">
                                    <div id="doughnut-child-reg" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="#{block_indices.district_data.child_reg.percent | number:0}#" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90">#{block_indices.district_data.child_reg.percent | number:0}#%</span></div>
                                </div>
                            </div>
                            <div class="databox-right">
                                <span class="databox-number themeprimary">#{block_indices.district_data.child_reg.count}#</span>
                                <div class="databox-text darkgray">Children Registered</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="databox radius-bordered databox-shadowed databox-graded">
                            <div class="databox-left bg-themeprimary">
                                <div class="databox-piechart">
                                    <div id="doughnut-mother-reg" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="#{block_indices.district_data.mother_reg.percent | number:0}#" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90">#{block_indices.district_data.mother_reg.percent | number:0}#%</span></div>
                                </div>
                            </div>
                            <div class="databox-right">
                                <span class="databox-number themeprimary">#{block_indices.district_data.mother_reg.count}#</span>
                                <div class="databox-text darkgray">Mothers Registered</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="databox radius-bordered databox-shadowed databox-graded">
                            <div class="databox-left bg-themeprimary">
                                <div class="databox-piechart">
                                    <div id="doughnut-fimm" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="#{block_indices.district_data.full_imm.percent | number:0}#" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90">#{block_indices.district_data.full_imm.percent | number:0}#%</span></div>
                                </div>
                            </div>
                            <div class="databox-right">
                                <span class="databox-number themeprimary">#{block_indices.district_data.full_imm.count}#</span>
                                <div class="databox-text darkgray">Full Immunization</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="databox radius-bordered databox-shadowed databox-graded">
                            <div class="databox-left bg-themeprimary">
                                <div class="databox-piechart">
                                    <div id="doughnut-fanc" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="#{block_indices.district_data.full_anc.percent | number:0}#" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90">#{block_indices.district_data.full_anc.percent | number:0}#%</span></div>
                                </div>
                            </div>
                            <div class="databox-right">
                                <span class="databox-number themeprimary">#{block_indices.district_data.full_anc.count}#</span>
                                <div class="databox-text darkgray">Full ANC</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-left-20 margin-right-20">
                    <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0"></div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="databox radius-bordered databox-shadowed databox-graded">
                            <div class="databox-left bg-themeprimary">
                                <div class="databox-piechart">
                                    <div id="doughnut-drep" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="#{block_indices.district_data.del_rep.percent | number:0}#" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90">#{block_indices.district_data.del_rep.percent | number:0}#%</span></div>
                                </div>
                            </div>
                            <div class="databox-right">
                                <span class="databox-number themeprimary">#{block_indices.district_data.del_rep.count}#</span>
                                <div class="databox-text darkgray">Delivery Reported</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="profile-body">
                <div class="col-lg-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs tabs-flat  nav-justified" id="mcts_indices">
                            <li class="active">
                                <a data-toggle="tab" href="#index-child-reg" target="self">
                                    Children Registered
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#index-mother-reg" target="self">
                                    Mothers Registered
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#index-full-imm" target="self">
                                    Full Immunizations
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#index-full-anc" target="self">
                                    Full ANC
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#index-births" target="self">
                                    Delivery Reported
                                </a>
                            </li>
                            
                        </ul>
                        <div class="tab-content tabs-flat">
                            <div id="index-child-reg" class="tab-pane active  animated fadeInUp padding-top-20 padding-left-20 padding-right-20" print-title="NIRAMAYAH: Block wise analysis of Children Registered">
                                <div class="row">
                                    <div class="col-sm-6 padding-right-30">
                                        <div id="child_reg_chart" class="chart chart-lg horizontal-bar-chart"></div>
                                    </div>
                                    <div class="col-sm-6 padding-left-30" >
                                        <table class="table table-hover">
                                            <thead class="bordered-blueberry">
                                                <tr>
                                                    <th>Block</th>
                                                    <th>Target</th>
                                                    <th>On MCTS</th>
                                                    <th>%Tage</th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-class="{'success':block_status.percent>=80, 'danger':block_status.percent<=50, 'warning':block_status.percent < 80 && block_status.percent > 50}" ng-repeat="block_status in block_indices.block_data.child_reg">
                                                    <td>#{block_status.block_name}#</td>
                                                    <td>#{block_status.target}#</td>
                                                    <td>#{block_status.count}#</td>
                                                    <td>#{block_status.percent | number:2}#%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row no-print">
                                    <div class="col-sm-12">
                                        <a class="btn btn-default btn-xs blue pull-left" print-div="#index-child-reg" >
                                            <i class="glyphicon glyphicon-print"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="index-mother-reg" class="tab-pane animated fadeInUp padding-top-20 padding-left-20 padding-right-20" print-title="NIRAMAYAH: Block wise analysis of Mothers' Registered">
                                <div class="row">
                                    <div class="col-sm-6 padding-right-30">
                                        <div id="mother_reg_chart" class="chart chart-lg horizontal-bar-chart"></div>
                                    </div>
                                    <div class="col-sm-6 padding-left-30" >
                                        <table class="table table-hover">
                                            <thead class="bordered-blueberry">
                                                <tr>
                                                    <th>Block</th>
                                                    <th>Target</th>
                                                    <th>On MCTS</th>
                                                    <th>%Tage</th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-class="{'success':block_status.percent>=80, 'danger':block_status.percent<=50, 'warning':block_status.percent < 80 && block_status.percent > 50}" ng-repeat="block_status in block_indices.block_data.mother_reg">
                                                    <td>#{block_status.block_name}#</td>
                                                    <td>#{block_status.target}#</td>
                                                    <td>#{block_status.count}#</td>
                                                    <td>#{block_status.percent | number:2}#%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row no-print">
                                    <div class="col-sm-12">
                                        <a class="btn btn-default btn-xs blue pull-left" print-div="#index-mother-reg" >
                                            <i class="glyphicon glyphicon-print"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="index-full-imm" class="tab-pane  animated fadeInUp padding-top-20 padding-left-20 padding-right-20" print-title="NIRAMAYAH: Block wise analysis of Full IMM given">
                                <div class="row">
                                    <div class="col-sm-6 padding-right-30">
                                        <div id="full_imm_chart" class="chart chart-lg horizontal-bar-chart"></div>
                                    </div>
                                    <div class="col-sm-6 padding-left-30" >
                                        <table class="table table-hover">
                                            <thead class="bordered-blueberry">
                                                <tr>
                                                    <th>Block</th>
                                                    <th>Target</th>
                                                    <th>On MCTS</th>
                                                    <th>%Tage</th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-class="{'success':block_status.percent>=80, 'danger':block_status.percent<=50, 'warning':block_status.percent < 80 && block_status.percent > 50}" ng-repeat="block_status in block_indices.block_data.full_imm">
                                                    <td>#{block_status.block_name}#</td>
                                                    <td>#{block_status.target}#</td>
                                                    <td>#{block_status.count}#</td>
                                                    <td>#{block_status.percent | number:2}#%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row no-print">
                                    <div class="col-sm-12">
                                        <a class="btn btn-default btn-xs blue pull-left" print-div="#index-full-imm" >
                                            <i class="glyphicon glyphicon-print"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="index-full-anc" class="tab-pane animated fadeInUp padding-top-20 padding-left-20 padding-right-20" print-title="NIRAMAYAH: Block wise analysis of Full ANC given">
                                <div class="row">
                                    <div class="col-sm-6 padding-right-30">
                                        <div id="full_anc_chart" class="chart chart-lg horizontal-bar-chart"></div>
                                    </div>
                                    <div class="col-sm-6 padding-left-30" >
                                        <table class="table table-hover">
                                            <thead class="bordered-blueberry">
                                                <tr>
                                                    <th>Block</th>
                                                    <th>Target</th>
                                                    <th>On MCTS</th>
                                                    <th>%Tage</th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-class="{'success':block_status.percent>=80, 'danger':block_status.percent<=50, 'warning':block_status.percent < 80 && block_status.percent > 50}" ng-repeat="block_status in block_indices.block_data.full_anc">
                                                    <td>#{block_status.block_name}#</td>
                                                    <td>#{block_status.target}#</td>
                                                    <td>#{block_status.count}#</td>
                                                    <td>#{block_status.percent | number:2}#%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row no-print">
                                    <div class="col-sm-12">
                                        <a class="btn btn-default btn-xs blue pull-left" print-div="#index-full-anc">
                                            <i class="glyphicon glyphicon-print"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="index-births" class="tab-pane animated fadeInUp padding-top-20 padding-left-20 padding-right-20" print-title="NIRAMAYAH: Block wise analysis of Full Deliveries Reported">
                                <div class="row">
                                    <div class="col-sm-6 padding-right-30">
                                        <div id="del_rep_chart" class="chart chart-lg horizontal-bar-chart"></div>
                                    </div>
                                    <div class="col-sm-6 padding-left-30" >
                                        <table class="table table-hover">
                                            <thead class="bordered-blueberry">
                                                <tr>
                                                    <th>Block</th>
                                                    <th>Target</th>
                                                    <th>On MCTS</th>
                                                    <th>%Tage</th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-class="{'success':block_status.percent>=80, 'danger':block_status.percent<=50, 'warning':block_status.percent < 80 && block_status.percent > 50}" ng-repeat="block_status in block_indices.block_data.del_rep">
                                                    <td>#{block_status.block_name}#</td>
                                                    <td>#{block_status.target}#</td>
                                                    <td>#{block_status.count}#</td>
                                                    <td>#{block_status.percent | number:2}#%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row no-print">
                                    <div class="col-sm-12">
                                        <a class="btn btn-default btn-xs blue pull-left" print-div="#index-births">
                                            <i class="glyphicon glyphicon-print"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>